body{
  background: #000;
  color: white;
}

div{
  width: 800px;
  margin: auto;
  text-align: center;
}
form{
  width: 620px;
  height: 40px;
  margin: auto !important;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding-left: 50px;
}
form input{
  width: 400px;
}
form button{
  width: 200px;
}
ul li{

  text-align: center;
  outline: auto;
padding:  0px 20px;
margin-bottom:20px !important;
}
li .task{
width: 400px;
text-align: left;
border: none;
/* outline: none; */
}
.updatefield{
  width: 400px;
  height: 30px;
  margin: 8px 0;
text-align: left;
}